.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-success {
    color: var(--color-success);
}

.color-danger {
    color: var(--color-danger);
}

.color-warning {
    color: var(--color-warning);
}

.color-light {
    color: var(--color-light);
}

.color-dark {
    color: var(--color-dark);
}

.color-required {
    color: tomato;
}

.color-optional {
    color: inherit;
}

.color-info {
    color: steelblue;
}

.small {
    font-size: small;
}

/* Marca de agua */

.agua:before {
    position: fixed;
    content: '';
    /* top : 10vh; */
    bottom: 5vh;
    right: 5vh;
    /* ratio del logo 1020/495 */
    height: 20vh;
    /* width de la marca de agua =  height * ratio */
    width: 41.21vh;
    opacity: 0.2;
    background-image: url('../../../svg/Olympic_Rings_clip_art.svg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}


body {
    background-color: var(--bg-body);
    color: var(--color-body);
    line-height: 1.6;
}

body main article h2 {
    color: var(--color-b);
}

@media screen and (max-width: 30rem) {
    body main {
        padding: 2.5vw;
    }
}

@media screen and (max-width: 48rem) {
    body main {
        padding: 5vw;
    }
}

@media screen and (max-width: 90rem) {
    body main {
        padding: 7.5vw;
    }
}

@media screen and (min-width: 91rem) {
    body main {
        padding: 10vw;
    }
}
